<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <h1>  <%= theDay %>  </h1>

      <ul>
        <li>Buy Food</li>
        <li>cook Food</li>
        <li>Eat Food</li>

        <form class="" action="/" method="post">
          <li><input type="text" name="theNewToDoItem" value="One more thing to do"></li>
          <br>
          <button type="submit" name="button">Submit</button>
        </ul>
        </form>




  </body>
</html>
